{% extends 'base.html' %}

{% block title %} Home page {% endblock title %}
<!--active tab-->
{% block home_active %} active {% endblock %}
{% block add_lib %}
{% endblock %}
<!-- Xin chao Ten nguoi dung -->
{% block hello_user %}
{% if user.name is not None %}
(Xin chào {{ user.name }})
{% endif %}
{% endblock hello_user %}
<!-- Block admin -->
{% block admin %}
{% if user.role.role_ID != 2 %}
{% else %}
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
        aria-expanded="false">Quản trị <span class="caret"></span></a>
    <ul class="dropdown-menu">
        <li><a href="#" data-toggle="modal" data-target=".bd-example-modal-sm">Export XLS file
            </a></li>
        <li role="separator" class="divider"></li>
        <li class="{% block check_attendance_active %}  {% endblock %}">
            <a href="{% url 'login:check-attendance' %}">Điểm danh</a>
        </li>
    </ul>
</li>
{% endif %}
{% endblock %}
<!--Thong bao trang chu-->
{% block content %}

<strong style="font-style: italic; color: #006699;">*THÔNG BÁO</strong>
<object data="http://www.pdf995.com/samples/pdf.pdf" type="application/pdf" width="100%" height="480">
</object>

<ul class="pagination justify-content-center">
    <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1">Trước đó</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item active">
        <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
    </li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
        <a class="page-link" href="#">Tiếp</a>
    </li>
</ul>

{% endblock content %}
{% block short_script %}

{% endblock %}