{% extends 'base.html' %}

{% block title %} Home page {% endblock title %}
<!--active tab-->
{% block home_active %} active {% endblock %}
<!--Tat login button-->
{% block login_button %} {% endblock login_button%}
{% block add_lib %}

{% endblock %}
<!-- Xin chao Ten nguoi dung -->
{% block hello_user %}
{% if name is not None %}
(Xin chào {{ name }})
{% endif %}
{% endblock hello_user %}
<!--Thong bao trang chu-->
{% block content %} Đây là trang chủ {% endblock content %}
{% block short_script %}

{% endblock %}