{% extends 'base.html' %}

{% block title %} Activities page {% endblock title %}
<!--active tab-->
{% block activities_active %} active {% endblock %}
<!-- Xin chao Ten nguoi dung -->
{% block hello_user %}
{% if user.name is not None %}
(Xin chào {{ user.name }})
{% endif %}
{% endblock hello_user %}
<!-- Block admin -->
{% block admin %}
{% if user.role.role_ID != 2 %}
{% else %}
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
        aria-expanded="false">Quản trị <span class="caret"></span></a>
    <ul class="dropdown-menu">
        <li><a href="#" data-toggle="modal" data-target=".bd-example-modal-sm" class="glyphicon glyphicon-export"> Export XLS
            </a></li>
        <li role="separator" class="divider"></li>
        <li class="{% block check_attendance_active %}  {% endblock %}">
            <a href="{% url 'login:check-attendance' %}" class="glyphicon glyphicon-check"> Điểm danh</a>
        </li>
    </ul>
</li>
{% endif %}
{% endblock %}
<!--Bang hoat dong-->
{% block content %}
<div class="overflow-auto">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Tên hoạt động</th>
                <th scope="col">BTC</th>
                <th scope="col">Ngày diễn ra</th>
                <th scope="col">Mô tả</th>
                <th scope="col">Đăng ký</th>
                <th scope="col">Lượng đăng ký</th>
            </tr>
        </thead>
        <tbody>
            {% for activity in activities_list %}
            {% if activity.is_opening %}
            <tr>
                <td>{{ activity.name }}</td>
                <td>{{ activity.organizers }}</td>
                <td>{{ activity.start_date.day }}/{{ activity.start_date.month }}/{{ activity.start_date.year }}
                    <!-- Load custom template tags -->
                    {% load usertime %}
                    {% load tz %}
                    {{ activity.start_date|localtime|asia_hcm_time }}
                </td>
                <td>{{ activity.description }}</td>
                <td>
                    <form action="{% url 'login:activities' %}" method="POST">
                        {% csrf_token %}
                        {% if activity in user.activities.all %}
                        {% if activity.start_date > nowplustimedelta  %}
                        <button type="submit" class="btn btn-danger" name="status"
                            value="rmo-{{ activity.activity_ID }}"> Hủy </button>
                        {% else %}
                        <button type="submit" class="btn btn-danger" name="status" disabled
                            value="rmo-{{ activity.activity_ID }}"> Hủy </button>
                        {% endif %}
                        {% else %}
                        {% if activity.start_date > nowplustimedelta  %}
                        <button type="submit" class="btn btn-success" name="status"
                            value="add-{{ activity.activity_ID }}"> Đăng ký </button>
                        {% else %}
                        <button type="submit" class="btn btn-success" name="status" disabled
                            value="add-{{ activity.activity_ID }}"> Đăng ký </button>
                        {% endif %}
                        {% endif %}
                    </form>
                </td>
                <td>{{ activity.number_of_register }}</td>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
<!--Insert short script-->
{% block short_script %}
<!--Nothing yet-->
{% endblock %}