{% extends 'base.html' %}

{% block title %} Check attendance page {% endblock title %}
<!-- Xin chao Ten nguoi dung -->
{% block hello_user %}
{% if user.name is not None %}
(Xin chào {{ user.name }})
{% endif %}
{% endblock hello_user %}
<!-- Block admin -->
{% block admin %}
{% if user.role.role_ID == 2 %}
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
        aria-expanded="false">Quản trị <span class="caret"></span></a>
    <ul class="dropdown-menu">
        <li>
            <a href="#" data-toggle="modal" data-target=".bd-example-modal-sm">
                <span class="glyphicon glyphicon-export"></span>
                Export XLS
            </a>
        </li>
        <li role="separator" class="divider"></li>
        <li>
            <a href="{% url 'login:check-attendance' %}"><span class="glyphicon glyphicon-check"></span> Điểm danh</a>
        </li>
    </ul>
</li>
{% elif user.role.role_ID == 3%}
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
        aria-expanded="false">Quản trị <span class="caret"></span></a>
    <ul class="dropdown-menu">
        <li>
            <a href="{% url 'login:upload' %}"><span class="glyphicon glyphicon-cloud-upload"></span> Upload thông
                báo</a> </li>
    </ul>
</li>
{% endif %}
{% endblock %}
{% block add_stylesheet %}
<style>
    /* The switch - the box around the slider */
    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
    }

    /* Hide default HTML checkbox */
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    /* The slider */
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

    input:checked+.slider {
        background-color: #2196F3;
    }

    input:focus+.slider {
        box-shadow: 0 0 1px #2196F3;
    }

    input:checked+.slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }

    .slider.round:before {
        border-radius: 50%;
    }
</style>
{% endblock %}
<!--Bang hoat dong-->
{% block content %}
<form action="{% url 'login:check-attendance' %}" method="GET">
    <ul class="list-group" id="eventList">
        {% for activity in activities_list %}
        {% if activity.is_opening and activity.activity_ID not in checked_activity_list %}
        <button class="btn btn-default" name="activityID" value="{{ activity.activity_ID }}">#{{ activity }}</button>
        {% endif %}
        {% endfor %}
    </ul>
</form>
<!--hien thi ten cua hoat dong da lua chon-->
{% if choosed_activity %}
<div class="alert alert-success" role="alert">
    Đã chọn {{ choosed_activity.name }}
</div>
{% if size_of_members_registered == 0%}
<div class="alert alert-info" role="alert">
    <b> Whoops! Hình như không ai trong lớp bạn tham gia hoạt dộng này</b>
</div>
{% endif %}
{% endif %}
<!--hien thi thong tin sinh vien cua lop tham gia-->
<br>
<input class="form-control" id="myInput" type="text" placeholder="Tìm kiếm..">
<br>
<div class="overflow-auto">
    <form action="{% url 'login:confirm-check' %}" method="POST" id="confirm-check">
        {% csrf_token %}
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>MSSV</th>
                    <th>Tên</th>
                    <th>Trạng thái tham gia</th>
                </tr>
            </thead>
            <tbody id="myTable">
                {% for member in members_registered %}
                <tr>
                    <td>{{ member.user_ID.upper }}</td>
                    <td>{{ member.name.upper }}</td>
                    <td>
                        <!-- Rectangular switch -->
                        <label class="switch">
                            <input type="checkbox" name="{{ member.user_ID }}"
                                value="{{ choosed_activity.activity_ID }}">
                            <span class="slider"></span>
                        </label>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </form>
    <!-- Dieu kien de hien nut xac nhan danh sach diem danh -->
    {% if choosed_activity is not None and size_of_members_registered != 0 %}
    <div data-placement="top" data-toggle="tooltip">
        <button class="btn btn-danger btn-lg btn-block" data-toggle="modal" data-target="#confirm">
            Xác nhận danh sách
        </button>
    </div>
    <div class="alert alert-danger" role="alert">
        *Lưu ý bạn sẽ không thể khôi phục hành động này
    </div>
    {% endif %}
</div>
<!-- Dialog hien thi thong bao ban co chac chan muon xac nhan danh sach -->
<div class="modal fade" id="confirm" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span
                        class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                <h4 class="modal-title custom_align" id="Heading">Xác nhận danh sách</h4>
            </div>
            <div class="modal-body">

                <div class="alert alert-danger"><span class="glyphicon glyphicon-warning-sign"></span> Bạn có chắc chắn
                    với hành động này?</div>

            </div>
            <div class="modal-footer ">
                <button type="submit" name="activityID" value="{{ choosed_activity.activity_ID }}"
                    class="btn btn-success" form="confirm-check"><span class="glyphicon glyphicon-ok-sign"></span>Tôi
                    chắc chắn</button>
                <button type="button" class="btn btn-default" data-dismiss="modal"><span
                        class="glyphicon glyphicon-remove"></span>Trở lại</button>
            </div>
        </div>
        <!-- modal-content -->
    </div>
    <!-- modal-dialog -->
</div>
{% endblock %}

{% block short_script %}
<script>
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>
<!--Mo tooltip de chon yes/no -->
<script>
    $(document).ready(function () {
        $("[data-toggle=tooltip]").tooltip();
    });
</script>
{% endblock %}