{% extends 'base.html' %}
{% block title %} Personal page {% endblock title %}
<!--Them library-->
{% block add_lib %}

{% endblock %}
{% block add_stylesheet %}
<style>
    .progress-value {
        display: flex;
        border-radius: 50%;
        font-size: 36px;
        text-align: center;
        line-height: 20px;
        align-items: center;
        justify-content: center;
        height: 100%;
        font-weight: 300;
    }

    .progress-value div {
        margin-top: 10px;
    }

    .progress-value span {
        font-size: 12px;
        text-transform: uppercase;
    }
</style>
{% endblock %}
<!--active tab-->
{% block personal_info_active %} active {% endblock %}
<!--Tat login button-->
{% block login_button %} {% endblock login_button%}
<!-- Xin chao Ten nguoi dung -->
{% block hello_user %}
{% if user.name is not None %}
(Xin chào {{ user.name }})
{% endif %}
{% endblock hello_user %}
<!--Bang hoat dong-->
{% block content %}
<!--Circle-->
<div class="row">
    <div class="col-sm-3 col-md-4">
        <div class="progress">
            <!--  {{ style }} de khong bi bao loi-->
            <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar"
                aria-valuenow="{{ user.accumulated_point }}" aria-valuemin="0" aria-valuemax="100" {{ style }}="width: {{ user.accumulated_point }}%">
            </div>
        </div>
        <div class="progress-value">
            <div>
                {{ user.accumulated_point }}/100<br>
                <span>ĐIỂM</span>
            </div>
        </div>
    </div>
    <div class="col-sm-3 col-md-8">
        <ul class="list-group">
            <strong class="list-group-item">Họ tên: {{ user.name }}</strong>
            <strong class="list-group-item">ID: {{ user.user_ID }}</strong>
            <strong class="list-group-item">Lớp: {{ user.class_ID }}</strong>
            <strong class="list-group-item">Ngày sinh:{{ user.date_of_birth }}</strong>
            <!-- <strong class="list-group-item">Vai trò:{{ user.role }}</strong> -->
        </ul>
    </div>
</div>
{% endblock content%}
<!--Insert short script-->
{% block short_script %}

{% endblock %}