{% extends 'base.html' %}
{% block title %} Personal page {% endblock title %}
<!--Them library-->
{% block add_lib %}
<!-- Load icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% load static %}
<script type="module" src="{% static 'login/sha512.js' %}"></script>
{% endblock %}
{% block add_stylesheet %}
<style>
    .progress-value {
        display: flex;
        border-radius: 50%;
        font-size: 36px;
        text-align: center;
        line-height: 20px;
        align-items: center;
        justify-content: center;
        height: 100%;
        font-weight: 300;
    }

    .progress-value div {
        margin-top: 10px;
    }

    .progress-value span {
        font-size: 12px;
        text-transform: uppercase;
    }
</style>
<style>
    #changePwd {
        background-color: green;
        color: #f1f1f1;
        font-size: 12px;
    }

    #changePwd:hover {
        background-color: #f1f1f1;
        color: green;
        transition: .4s;
    }
</style>
<style>
    * {
        box-sizing: border-box;
    }

    form.search-semester input[type=text] {
        padding: 10px;
        font-size: 17px;
        border: 1px solid grey;
        float: left;
        width: 80%;
        background: #f1f1f1;
    }

    form.search-semester button {
        float: left;
        width: 20%;
        padding: 10px;
        background: #2196F3;
        color: white;
        font-size: 17px;
        border: 1px solid grey;
        border-left: none;
        cursor: pointer;
    }

    form.search-semester button:hover {
        background: #0b7dda;
    }

    form.search-semester::after {
        content: "";
        clear: both;
        display: table;
    }
</style>
{% endblock %}
<!--active tab-->
{% block personal_info_active %} active {% endblock %}
<!--Tat login button-->
{% block login_button %} {% endblock login_button%}
<!-- Xin chao Ten nguoi dung -->
{% block hello_user %}
{% if user.name is not None %}
(Xin chào {{ user.name }})
{% endif %}
{% endblock hello_user %}
<!--Bang hoat dong-->
{% block content %}
<!--Circle-->
<div class="row">
    <div class="col col-md-4">
        <div class="progress">
            <!--  {{ style }} de khong bi bao loi-->
            <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar"
                aria-valuenow="{{ user.accumulated_point }}" aria-valuemin="0" aria-valuemax="100"
                {{ style }}="width: {{ user.accumulated_point }}%">
            </div>
        </div>
        <div class="progress-value">
            <div>
                {{ user.accumulated_point }}/100<br>
                <span>ĐIỂM</span>
            </div>
        </div>
    </div>
    <div class="col col-md-8">
        <ul class="list-group">
            <strong class="list-group-item">Họ tên: {{ user.name }}</strong>
            <strong class="list-group-item">ID: {{ user.user_ID }}</strong>
            <strong class="list-group-item">Lớp: {{ user.class_ID }}</strong>
            <strong class="list-group-item">Ngày sinh:{{ user.date_of_birth }}</strong>
            <!-- <strong class="list-group-item">Vai trò:{{ user.role }}</strong> -->
            <strong class="list-group-item">
                <form action="#" method="GET" id="changePwd-form">
                    <button type="button" id="changePwd" data-toggle="modal" data-target=".change-pwd-dialog">
                        Đổi mật khẩu
                    </button>
                </form>
            </strong>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col col-md-5">
        <form class="search-semester" action="{% url 'login:personal' %}" method="GET">
            <input type="text" placeholder="Nhập học kỳ..(ví dụ 20191)" name="semester" required>
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>
    </div>
    <div class="col col-md-5">
        {% if message_wrong_input %}
        <div class="alert alert-info" role="alert">
            <span class="glyphicon glyphicon-info-sign"></span>
            {{ message_wrong_input }} ---
            HỌC KỲ {{ school_semester }} {{ school_year }} <i>(mặc định)</i>
        </div>
        {% elif school_semester is not None and school_year is not None %}
        <div class="alert alert-success" role="alert">
            HỌC KỲ {{ school_semester }} {{ school_year }}
        </div>
        {% endif %}
    </div>
</div>
<div class="row">
    <div class="col col-md-12">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Tên hoạt động</th>
                    <th>BTC</th>
                    <th>Điểm</th>
                </tr>
            </thead>
            <tbody>
                {% if activities_in_semester_is_empty %}
                <div class="alert alert-info" role="alert">
                    <b> Whoops! Bạn không tham gia bất kỳ hoạt dộng nào trong kỳ học này</b>
                </div>
                {% else %}
                {% for activity in activities_in_semester %}
                <tr>
                    <td>{{ activity.name }}</td>
                    <td>{{ activity.organizers }}</td>
                    <td>{{ activity.point }}</td>
                </tr>
                {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>
</div>
<!-- Small modal -->
<div class="modal fade change-pwd-dialog" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Thay đổi mật khẩu</h4>
            </div>
            <div class="modal-body">
                <label for="old-Passwd">Nhập mật khẩu cũ</label>
                <input form="changePwd-form" name="oldPwd" type="password" class="form-control" id="old-Passwd"
                    required>
                <br>
                <label label for="new-Passwd">Nhập mật khẩu mới</label>
                <input form="changePwd-form" name="newPwd-1" type="password" class="form-control" id="new-Passwd"
                    required>
                <br>
                <label for="retype-NewPasswd">Nhập lại mật khẩu mới</label>
                <input form="changePwd-form" name="newPwd-2" type="password" class="form-control" id="retype-NewPasswd"
                    required>
            </div>
            <div class="modal-footer">
                <button form="changePwd-form" type="submit" name="confirm-changePwd" value="ok"
                    onclick="return checkNewPassword();" class="btn btn-success" form="confirm-check"><span
                        class="glyphicon glyphicon-ok-sign"></span>OK</button>
                <button type="button" class="btn btn-default" data-dismiss="modal"><span
                        class="glyphicon glyphicon-remove"></span>Trở lại</button>
            </div>
        </div>
    </div>
</div>
{% endblock content%}
<!--Insert short script-->
{% block short_script %}
<script>
    // Ham kiem tra mat khau moi nha vao voi mat khau nhap lai
    function checkNewPassword() {
        var userspassword = "{{ hashed_user_pass }}";
        var oldPasswd = document.getElementById('old-Passwd').value;
        var newpass = document.getElementById('new-Passwd').value;
        var retypeNewPass = document.getElementById('retype-NewPasswd').value;
        try {
            import Sha512 from "//rawcdn.githack.com/chrisveness/crypto/bafe342/sha512.js";
            var hash = Sha512.hash(oldPasswd)
        } catch (error) {
            alert(error)
        }
        if (oldPasswd.length == 0) {
            alert('Nhập mật khẩu cũ!')
            return false
        }
        if (hash != userspassword) {
            alert('Mật khẩu cũ không đúng!')
            return false
        }
        if (newpass.length == 0 || retypeNewPass.length == 0) {
            alert('Vui lòng điền password mới!')
            return false
        }
        if (newpass != retypeNewPass) {
            alert('Mật khẩu nhập lại không khớp!')
            return false
        }
        return true
    }
</script>
{% endblock %}