{% extends 'base.html' %}

{% block title %} Upload {% endblock title %}
<!--active tab-->
{% block add_lib %}

{% endblock %}
<!-- Xin chao Ten nguoi dung -->
{% block hello_user %}
{% if user.name is not None %}
(Xin chào {{ user.name }})
{% endif %}
{% endblock hello_user %}
<!-- Block admin -->
{% block admin %}
{% if user.role.role_ID == 2 %}
<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
        aria-expanded="false">Quản trị <span class="caret"></span></a>
    <ul class="dropdown-menu">
        <li>
            <a href="#" data-toggle="modal" data-target=".bd-example-modal-sm">
                <span class="glyphicon glyphicon-export"></span>
                Export XLS
            </a>
        </li>
        <li role="separator" class="divider"></li>
        <li>
            <a href="{% url 'login:check-attendance' %}"><span class="glyphicon glyphicon-check"></span> Điểm danh</a>
        </li>
    </ul>
</li>
{% elif user.role.role_ID == 3%}
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
        aria-expanded="false">Quản trị <span class="caret"></span></a>
    <ul class="dropdown-menu">
        <li class="active">
            <a href="{% url 'login:upload' %}"><span class="glyphicon glyphicon-cloud-upload"></span> Upload thông
                báo</a>
        </li>
    </ul>
</li>
{% endif %}
{% endblock %}
{% block add_stylesheet %}

{% endblock %}
<!--Upload page-->
{% block content %}

{% for file in all_files %}
<form action="{% url 'login:upload' %}" method="POST">
    {% csrf_token %}
    <button title="Xóa file" type="submit" class="btn btn-danger btn-sm" name="pdf_file_id" value="{{ file.id }}">
        <i class="glyphicon glyphicon-minus"></i>
    </button>
    <a href="{{ file.pdf_file.url }}">{{ file.pdf_file.name }}</a>
    <br>
    <br>
</form>
{% endfor %}
<form action="{% url 'login:upload' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form }}
    <br>
    <i class="glyphicon glyphicon-cloud-upload"></i>
    <button type="submit" class="btn btn-success">Upload</button>
</form>
{% endblock content %}
{% block short_script %}

{% endblock %}