{% extends 'base.html' %}

{% block title %} Upload {% endblock title %}
<!--active tab-->
{% block add_lib %}
{% endblock %}
<!-- Xin chao Ten nguoi dung -->
{% block hello_user %}
{% if user.name is not None %}
(Xin chào {{ user.name }})
{% endif %}
{% endblock hello_user %}
<!-- Block admin -->
{% block admin %}
{% if user.role.role_ID == 2 %}
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
        aria-expanded="false">Quản trị <span class="caret"></span></a>
    <ul class="dropdown-menu">
        <li><a href="#" data-toggle="modal" data-target=".bd-example-modal-sm" class="glyphicon glyphicon-export">
                Export XLS
            </a></li>
        <li role="separator" class="divider"></li>
        <li>
            <a href="{% url 'login:check-attendance' %}" class="glyphicon glyphicon-check"> Điểm danh</a>
        </li>
    </ul>
</li>
{% elif user.role.role_ID == 3%}
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
        aria-expanded="false">Quản trị <span class="caret"></span></a>
    <ul class="dropdown-menu">
        <li class="active">
            <a href="{% url 'login:upload' %}" class="glyphicon glyphicon-cloud-upload"> Upload thông báo</a>
        </li>
    </ul>
</li>
{% endif %}
{% endblock %}
{% block add_stylesheet %}
<style>
    form {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: 100px;
        margin-left: -250px;
        width: 500px;
        height: 200px;
        border: 4px dashed #97bed8;
    }

    form p {
        width: 100%;
        height: 100%;
        text-align: center;
        line-height: 170px;
        color: #000000;
        font-family: Arial;
    }

    form input {
        position: absolute;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        outline: none;
    }

    form button {
        margin: 0;
        color: rgb(255, 255, 255);
        background: #0b86d8;
        border: none;
        width: 500px;
        height: 35px;
        margin-top: 20px;
        margin-left: -4px;
        border-radius: 4px;
        transition: all .2s ease;
        outline: none;
    }

    form button:hover {
        background: #f1eded;
        color: #0b86d8;
        border: 2px solid #0b86d8;
    }

    form button:active {
        border: 0;
    }
</style>
{% endblock %}
<!--Upload page-->
{% block content %}

{% for file in all_files %}
<a href="{{ file.pdf_file.url }}"> {{ file.pdf_file.name }} </a>
<br>
{% endfor %}

<form action="{% url 'login:upload' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form }}
    <p>Kéo thả file hoặc click vào đây.</p>
    <button type="submit">Upload</button>
</form>
{% endblock content %}
{% block short_script %}
<script>
    $(document).ready(function () {
        $('form input').change(function () {
            $('form p').text(this.files.length + " đã chọn");
        });
    });
</script>
{% endblock %}