{% extends "myadmin/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-4">
            hellolll
        </div>
        <div class="col-md-8 mt-5">
            <div class="jumbotron">
                <h1 class="display-4">Thêm sinh Viên</h1>
                <p class="lead font-italic">This is a page Admin</p>
                <hr class="my-4">
                <form action="" method="post" autocomplete="off">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-success"><i class="fas fa-save"></i> Lưu</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}