{% extends 'youth_union_admin/base.html' %}

{% block title %}
    Hoạt động
{% endblock %}

{% block extra-css %}
    <style>
        .errorlist {
            color: red;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-12 col-lg-4 ml-5 mt-5">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-primary">Tạo hoạt động</button>
            </form>
        </div>
        <div class="col-sm-12 col-lg-7 mt-5">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Tên hoạt động</th>
                    <th scope="col">Thông tin</th>
                    <th scope="col">Khác</th>
                </tr>
                </thead>
                <tbody>
                {% for activity in all_activities %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ activity.name }}</td>
                        <td>
                            <span class="sp-info">
                                Thông tin
                            </span>
                        </td>
                        <td>
                            <span class="sp-delete">
                                Xóa
                            </span>
                            <span class="sp-edit">
                                Chỉnh sửa
                            </span>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}