<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %} {% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block add_lib %}
    {% endblock %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'youth_union/bootstrap/css/bootstrap.min.css' %}">
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"
            integrity="sha256-VAvG3sHdS5LqTT+5A/aeq/bZGa/Uj04xKxY8KM/w9EE=" crossorigin="anonymous"></script>
    <script src="{% static 'youth_union/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'youth_union/all.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'youth_union_admin/vendor/ckeditor/ckeditor.js' %}"></script>
    <script type="text/javascript" src="{% static 'youth_union_admin/vendor/ckeditor/translations/vi.js' %}"></script>
    <script>
        $(document).ready(function () {
            var sideslider = $('[data-toggle=collapse-side]');
            var sel = sideslider.attr('data-target');
            var sel2 = sideslider.attr('data-target-2');
            sideslider.click(function (event) {
                $(sel).toggleClass('in');
                $(sel2).toggleClass('out');
            });
        });
    </script>
    <style>
        body {
            background-color: rgb(247, 247, 247);
            padding-top: 50px;
        }

        pre {
            tab-size: 8;
        }

        @media screen and (max-width: 768px) {
            .side-collapse-container {
                width: 100%;
                position: relative;
                left: 0;
                transition: left .1s;
            }

            .side-collapse-container.out {
                left: 200px;
            }

            .side-collapse {
                top: 50px;
                bottom: 0;
                left: 0;
                width: 200px;
                position: fixed;
                overflow: hidden;
                transition: width .1s;
            }

            .side-collapse.in {
                width: 0;
            }
        }
    </style>
    {% block add_stylesheet %}
    {% endblock %}
</head>

<body>
<header role="banner" class="navbar navbar-fixed-top navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button data-toggle="collapse-side" data-target=".side-collapse"
                    data-target-2=".side-collapse-container" type="button" class="navbar-toggle pull-left"><span
                    class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
        </div>
        <div class="navbar-default side-collapse in">
            <nav role="navigation" class="navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="{% block home_active %}{% endblock %}">
                        <a href="{% url 'home:index' %}">
                            <i class="glyphicon glyphicon-home"></i>
                            YouthPTIT
                        </a>
                    </li>
                    <li class="{% block activities_active %}{% endblock %}">
                        <a href="{% url 'youth_union:activities' %}">Hoạt động</a>
                    </li>

                    {% block admin %}
                        <!-- Amdin option here -->
                    {% endblock admin %}

                    <li class="{% block personal_info_active %}{% endblock %}">
                        <a href="{% url 'youth_union:personal' %}">
                            <span class="glyphicon glyphicon-user"></span>
                            Account
                            {% block hello_user %}
                            {% endblock %}
                        </a>
                    </li>

                    {% block logout_button %}
                        <li>
                            <a href="{% url 'youth_union:exit' %}"><span class="glyphicon glyphicon-log-out"></span>
                                Đăng xuất
                            </a>
                        </li>
                    {% endblock %}
                </ul>
            </nav>
        </div>
    </div>
</header>
<br>
<div class="container side-collapse-container">
    {% block content %}
    {% endblock content %}
</div>
<!-- Small modal Input semester code to export excel file-->
<div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Nhập học kỳ muốn xuất</h4>
            </div>
            <div class="modal-body">
                <form id="input-semester-form" action="{% url 'youth_union:export-xls' %}" method="GET">
                    <input type="number" placeholder="E.g. 20192" name="semester-code" class="form-control"
                           id="semester-code-input" required>
                </form>
            </div>
            <div class="modal-footer">
                <button form="input-semester-form" type="submit" value="ok" class="btn btn-success"
                        form="confirm-check" id="ok-button"><span class="glyphicon glyphicon-ok-sign"></span>OK
                </button>
            </div>
        </div>
    </div>
</div>
{% block short_script %}
    <!--Insert nhung doan javascript ngan vao day-->
{% endblock %}
</body>

</html>