<!DOCTYPE html>
<html lang="en">

<head>
  <title>{% block title%} {% endblock %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% load staticfiles %}
  <link rel="stylesheet" type="text/css" href="{% static 'login/main.css' %}" />
  {% block add_static_files %}
  {% endblock add_static_files %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <!--Font Awsome-->
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="{% url 'home:home' %}"><span class="glyphicon glyphicon-home"></span>YouthPTIT</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="{% block home_active %} {% endblock %}"><a href="{% url 'home:home' %}">Trang chủ</a></li>
        <li class="{% block activities_active %}  {% endblock %}"><a href="{% url 'login:activities' %}">Hoạt động</a>
        </li>
        <li class="{% block accumulated_active %}  {% endblock %}"><a
            href="{% block accumulated_url %} # {% endblock %}">Điểm tích lũy</a></li>
        <li class="{% block personal_info_active %}  {% endblock %}"><a href="{% url 'login:personal' %}"><span
              class="glyphicon glyphicon-user"></span> Thông tin cá nhân{% block hello_user %}
            {% endblock %}</a></li>
        <li class="{% block check_attendance_active %}  {% endblock %}"><a href="{% url 'login:check_attendance' %}">Điểm danh</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% block login_button %}
        <li><a href="{% url 'login:login' %}"><span class="glyphicon glyphicon-log-in"></span> Đăng nhập</a></li>
        {% endblock %}
        {% block logout_button %}
        <li><a href="{% url 'login:exit' %}"><span class="glyphicon glyphicon-log-out"></span> Đăng xuất</a></li>
        {% endblock %}
      </ul>
    </div>
  </nav>
  <div class="container">
    {% block content %}
    {% endblock content %}
  </div>
  {% block short_script %}
  <!--Insert nhung doan javascript ngan vao day-->
  {% endblock %}
  <!--Footer-->
  <div class="footer">
    <footer>
      <p>YouthPTIT 2019</p>
    </footer>
  </div>
</body>

</html>